<article class="post">
    <div class="title">
         <a href="{{post_url}}" target="_blank">{{title}}</a>
         <span>({{format_url post_url}})</span>
  </div>
    </div>
    <div class="body">
        {{post_text}}
    </div>
    <div class="meta">
        <strong>Posted by {{user.username}} on {{format_date created_at}}</strong>
    </div>
</article>
